@import 'font';
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Metropolis-medium', 'Metropolis-bold', sans-serif;
    width: 100%;
    max-width: 1440px;
    height: 100%;

    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.gradient {
    width: 100%;
    max-width: 1440px;
    height: 696px;

    position: absolute;
    z-index: -1;

    background: linear-gradient(180deg, #ffffff 0%, #e2f1ff 100%);
}
a {
    text-decoration: none;
    color: inherit;
}

.button__item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header {
    &__wrapper {
        display: flex;
    }

    &__logo {
        width: 48px;
        height: 48px;
        margin-top: 24px;
        margin-right: 395px;
    }

    &__menu {
        font-family: 'Metropolis-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        height: 38px;
        margin-top: 19px;
        margin-right: 40px;

        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__button {
        width: 142px;
        height: 38px;
        margin-top: 19px;

        background: #fff;
        color: $primary-purple;
        border: 1px solid $primary-purple;
        border-radius: 23px;

        cursor: pointer;

        &:hover {
            border: none;
            background: linear-gradient(
                90deg,
                rgba(114, 46, 209, 1) 50%,
                rgba(160, 160, 189, 1) 100%
            );
            color: #fff;
            transition: 0.3s ease;
        }
    }
}

.hero {
    margin-top: 96px;

    &__wrapper {
        display: flex;
        gap: 16px;
    }

    &__content {
        width: 472px;
    }

    &__pretitle {
        width: 258px;
        height: 40px;
        margin-top: 31px;
        padding: 8px 16px 8px 16px;

        display: flex;
        align-items: center;
        gap: 12px;

        background: $light-gray;
        border-radius: 20px;
        color: $primary-purple;
    }

    &__text {
        font-family: 'Metropolis-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        font-family: 'Metropolis-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;

        margin-top: 24px;
        color: #000000;
    }

    &__image {
        width: 472px;
        height: 370px;
    }

    &__description {
        font-family: 'Metropolis-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        margin-top: 24px;

        opacity: 0.5;
    }

    &__buttons {
        margin-top: 16px;
    }

    &__button {
        font-family: 'Metropolis-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        width: 142px;
        height: 38px;
        padding: 12px 24px;

        border: none;
        border-radius: 23px;
        cursor: pointer;

        &--purple {
            background-color: $primary-purple;
            color: white;
            margin-right: 16px;

            &:hover {
                background-color: #6028af;
                transition: 0.6s;
            }
        }

        &--white {
            background-color: white;
            color: $primary-purple;
        }
    }
}
.why {
    margin-top: 312px;

    display: flex;
    justify-content: center;

    &__pretitle {
        margin: 0 auto;
        width: 159px;
        height: 40px;
        padding: 8px 16px;
        gap: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $light-gray;
        color: $primary-purple;
        border-radius: 20px;
    }

    &__title-block {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        margin-top: 24px;
        text-align: center;
    }

    &__discription {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        margin-top: 24px;
        display: flex;
        justify-content: center;
        text-align: center;

        color: #8989a2;
    }

    &__list {
        display: flex;
        gap: 24px;

        margin-top: 24px;
    }

    &__item {
        text-align: center;
        max-width: 317px;
    }

    &__border {
        width: 40px;
        height: 40px;
        margin: 0 auto;

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--blue {
            background-color: #e6f7ff;
        }
        &--red {
            background-color: #fff1f0;
        }
        &--green {
            background-color: #f6ffed;
        }
    }

    &__title-item {
        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        margin-top: 16px;
        color: #160637;
    }

    &__discription-item {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #8989a2;
        margin-top: 16px;
    }
}

.product {
    &__wrapper {
        display: flex;
        margin-top: 120px;
        gap: 88px;
        position: relative;
        height: 435.5px;
        width: 974.5px;
    }

    &__image {
        width: 412.5px;
        height: 435.5px;
        position: absolute;
        top: 0;
        left: -16px;
    }

    &__content {
        margin-top: 125px;
        width: 474px;
        height: 200px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__pretitle {
        height: 40px;
        width: 224px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;

        color: $primary-purple;
        background-color: #f9f0ff;
        border-radius: 20px;
    }

    &__title {
        margin-top: 24px;

        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        color: #160637;
    }

    &__discription {
        margin-top: 24px;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #8989a2;
    }
}

.teams {
    &__wrapper {
        width: 1182px - 184px;
        height: 414px;
        margin-top: 120.5px;
        display: flex;

        position: relative;
    }

    &__content {
        margin-top: 120px;

        position: absolute;
        top: 0;
        left: 0;
    }

    &__pretitle {
        width: 258px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;

        color: $primary-purple;
        background-color: #f9f0ff;
        border-radius: 20px;
    }

    &__title {
        margin-top: 24px;

        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        color: #160637;
    }

    &__discription {
        margin-top: 24px;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #8989a2;
    }

    &__image {
        max-width: 500px;
        height: 414px;

        position: absolute;
        top: 0;
        right: -120px;
    }
}

.persona {
    position: relative;
    &__trapezoid {
        margin-top: 100px;
        width: 100%;
        height: 700.5px;

        background: linear-gradient(175.54deg, #f9f0ff 25.81%, #e2f1ff 96.38%);
        opacity: 0.47;

        transform: skewY(-5deg);

        position: absolute;
        top: -270px;
        left: 0;
        z-index: -2;
    }

    &__wrapper {
        margin-top: 218px;
        text-align: center;
        position: relative;
    }

    &__text {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;

        color: #160637;
    }

    &__image {
        margin-top: 32px;

        height: 80px;
        width: 80px;
    }

    &__discription {
        margin-top: 32px;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: #000000;
    }

    &__separate {
        margin-top: 32px;
        width: 964px;
        height: 0px;

        border: 1px solid #dec9fa;
    }

    &__brends {
        margin-top: 32px;

        display: flex;
        justify-content: row;
        gap: 91px;
    }

    &__tonkean {
        width: 144.63px;
        height: 38.02px;
    }

    &__big-spring {
        width: 151.32px;
        height: 31.01px;
    }

    &__clearbit {
        width: 111.66px;
        height: 29.06px;
    }

    &__mine {
        width: 85.21px;
        height: 29.62px;
    }

    &__shake {
        width: 86.56px;
        height: 29.99px;
    }
}

.sing-up {
    &__wrapper {
        margin-top: 290px;
        display: flex;
        gap: 26px;
    }

    &__title {
        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        margin-top: 45px;

        color: #160637;
    }

    &__text {
        margin-top: 35px;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #8989a2;

        text-align: center;
        position: relative;

        &::before {
            content: '';
            width: 144px;
            height: 1px;
            max-width: 144px;
            background-color: #d6d6d6;

            position: absolute;
            top: 11.5px;
            left: 0;
        }

        &::after {
            content: '';
            width: 144px;
            height: 1px;
            max-width: 144px;
            background-color: #d6d6d6;

            position: absolute;
            top: 11.5px;
            right: 0;
        }
    }

    &__clients {
        width: 302px;
        height: 156px;
        margin: 50px auto 0;

        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        &--accenture {
            width: 134px;
            height: 35.35px;

            margin-right: 102px;
            margin-bottom: 75.7px;
        }
        &--react {
            width: 58.01px;
            height: 51.03px;
        }
        &--airbnb {
            width: 130.43px;
            height: 40.7px;
            margin-right: 112px;
        }
        &--sky {
            width: 54px;
            height: 32.38px;
        }
    }
}

.form {
    width: 428px;
    height: 494px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    box-shadow: 13px 12px 12px rgba(137, 137, 162, 0.122);
    border-radius: 8px;

    &__title {
        margin-top: 32px;
        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        color: #160637;
        text-align: center;
    }

    &__button {
        margin: 0 auto;
        padding: 12px 98px;

        background-color: $primary-purple;
        color: white;

        border: none;
        border-radius: 5px;

        cursor: pointer;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        &:hover {
            background-color: #6028af;
            transition: 0.4s;
        }
    }

    &__text {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;

        color: #160637;
    }

    .input {
        margin: 0 auto;
        width: 344px;
        height: 48px;
        padding: 16px;

        border: 1px solid #d9d9d9;
        border-radius: 4px;
        outline: none;

        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }

    &__google {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    &__icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 2px solid #1c6fce;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 20px;
            height: 20px;
        }
    }

    &__btn-text {
        height: 40px;
        padding: 10px;
        background-color: #1c6fce;

        border-radius: 0 5px 5px 0;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__separate {
        margin: 0 auto;
        width: 336px;
        height: 1px;

        opacity: 0.48;
        background-color: #8989a2;
    }

    &__account {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        text-align: center;
        color: #8989a2;
        margin-bottom: 32px;
    }

    &__login {
        color: #6028af;
        cursor: pointer;
    }
}

.footer {
    color: #160637;

    &__wrapper {
        display: flex;
        gap: 40px;
        margin-top: 199px;
        margin-bottom: 50px;
    }

    &__icon {
        width: 48px;
        height: 48px;
        margin-bottom: 14px;
    }

    &__text {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;

        margin-top: 14px;
        margin-bottom: 24px;
        width: 209px;
        height: 120px;
    }

    .media-icon {
        width: 16px;
        height: 16px;
    }

    &__facebook {
        margin-right: 12px;
    }

    &__twitter {
        margin-right: 16px;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__item {
        font-family: 'Metropolis-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;

        margin-bottom: 15px;

        &:hover {
            color: #4e179c;
            cursor: pointer;
        }
    }

    &__input {
        width: 180px;
        height: 40px;

        padding: 12px 0 16px 16px;
        outline: none;
        filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.051));

        position: relative;

    }
}
